	* {
	padding: 0;
	margin: 0;
}

@keyframes birdDown {
	0% {
		transform: rotate(-50deg);
		background: url(img/down_bird0.png);
	}
	100% {
		transform: rotate(40deg);
		background: url(img/down_bird1.png);
	}
}

@keyframes birdDown3 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes flash {
	0% {
		filter: brightness(1);
	}
	10% {
		filter: brightness(1000);
	}
	100% {
		filter: brightness(1);
	}
}


}
@keyframes titleMove2 {
	0%{
		top: 130px;
	}
	100% {
		top: 100px;
	}
}
@keyframes titleBirdMove {
	0% {
		background: url(img/bird0.png);
	}
	
	100% {
		background: url(img/bird1.png);
	}
}
@keyframes scrollMove {
	0% {
		left: 0;
	}
	
	100% {
		left: -400px;
	}
}
@keyframes boardMove {
	0% {
		transform: translateY(400px);
	}
	
	60% {
		transform: translateY(-30px);
	}
	
	100% {
		transform: translateY(0px);
	}
}
@keyframes okMove {
	0% {
		transform: translateX(-300px);
	}
	
	60% {
		transform: translateX(20px);
	}
	
	100% {
		transform: translateX(0px);
	}
}
@keyframes overMove {
	0% {
		transform: translateY(-300px);
	}
	
	60% {
		transform: translateY(30px);
	}
	
	100% {
		transform: translateY(0px);
	}
}
#mainWindow {
	position: relative;
	margin: 100px auto;
	overflow: hidden;
	background: url(img/bg.jpg);
	background-size: cover;
}
#mainWindow,
#pipeWrap {
	width: 400px;
	height: 550px;
}
#pipeWrap {
	position: relative;
}

/*@keyframes test{
	0% {transform: translateY(-15px);}
	100% {transform: translateY(15px);}
}*/

@keyframes test{
	0% {top: 130px;}
	100% {top: 100px;}
}

#gameStart {
	-webkit-user-select: none;
	position: absolute;
	left: 100px;
	top: 130px;
	animation: test 1.2s linear infinite alternate;
}
#gameStart>div:nth-child(2) {
	position: absolute;
	width: 40px;
	height: 26px;
	right: -40px;
	top: 20px;
	transform: scale(1.2);
	background: url(img/bird0.png);
	animation: titleBirdMove 0.1s infinite alternate linear;
}
.headImg{
	width: 230px;
	height: 107px;
	background:url(img/head.jpg);
	background-size: contain;
}
#scroll {
	height: 16px;
	width: 800px;
	background: url(img/banner.jpg);
	background-size: contain;
	position: absolute;
	bottom: 41.5px;
	animation: scrollMove 3s infinite linear running;
	z-index: 9999;
}
#scroll img {
	width: 400px;
}
#button {
	transform: scale(1.2);
	position: absolute;
	width: 400px;
	left: 0;
	top: 320px;
	display: flex;
	justify-content: center;
}
#button img:nth-child(1) {
	margin-right: 40px;
	cursor: pointer;
}
#gameOver {
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	height: 550px;
	text-align: center;
	padding: 50px 0;
	box-sizing: border-box;
	display: none;
}
.overText img {
	width: 270px;
	margin-top: 40px;
	margin-bottom: 20px;
	transform: translateY(-300px);
	animation: overMove 1.3s 0.4s forwards;
}
.scoreBoard .img {
	width: 300px;
	height: 149px;
	margin-bottom: 50px;
	transform: translateY(400px);
	animation: boardMove 1.3s 0.4s forwards;
	position: relative;
	margin: 0 auto;
	margin-bottom: 40px;
	background: url(img/message.jpg);
	background-size: cover;
}
#okBtn img {
	width: 120px;
	transform: translateX(-300px);
	animation: okMove 1.3s 0.4s forwards;
}
#bird {
	width: 40px;
	height: 30px;
	background: url(img/down_bird0.png);
	position: absolute;
	left: 70px;
	top: 250px;
	background-size: cover;
	animation: birdDown 0.5s linear forwards paused;
	display: none;
	/*animation: birdDown2 0.2s linear alternate infinite  running;*/
}
#score {
	width: 400px;
	height: 40px;
	position: absolute;
	text-align: center;
	top: 40px;
	z-index: 99999;
}

/*管道工人*/
.pipe {
	width: 62px;
	height: 493.5px;
	position: absolute;
	top: 0;
	left: 400px;
	/*background-color: yellow;*/
}
.topItem {
	height: 150px;
	position: absolute;
	width: 100%;
	top: 0;
	background-color: deepskyblue;
	background: url(img/up_mod.png);
}
.bottomItem {
	height: 150px;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: deepskyblue;
	background: url(img/down_mod.png);
}
.topHead {
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	background: url(img/up_pipe.png);
}
.bottomHead {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	background: url(img/down_pipe.png);
}
.recordBox {
	height: 100%;
	width: 40px;
	float: right;
	text-align: center;
	margin-right: 30px;
}
#record {
	font-size: 24px;
	color: blueviolet;
	margin-top: 40px;
}
#recordBest {
	font-size: 24px;
	color: orangered;
	margin-top: 25px;
	/*margin:80px 40px 0 0  ;*/
}
.sjbb {
	font-family: Hannotate SC;
	font-weight: bolder;
	width: 400px;
	text-align: center;
	text-shadow: 3px 3px 5px  pink;
	font-size: 50px;
	color:darkmagenta ;
	position: absolute;
	left: -100px;
	top: 100px;
}
.howToPlay{
	text-align: center;
	width: 100%;
	font-size: 50px;	
	font-family: Hannotate SC;
	color: cadetblue;
	text-shadow: 0 1px 2px black;
}