*{
	margin: 0;
	padding: 0;
}
.wrap{
	text-align: center;
	background-color: rgb(243,243,243);
	height: 100%;
}
.waterFlow::after{
	content: "";
	clear:both;
	display: block;
}
.header{
	background-color: black;
	opacity: 0.7;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	box-shadow: 0 1px 10px black;	
	z-index: 10;
}
.header img{
	width: 110px;
	height: 32px;
	padding: 20px 0;


}
.nav a{
	color: rgb(137,137,137);
	text-decoration: none;
	padding: 0 25px;
	font-size: 14px;
}
.nav a:nth-child(1){
	color: white;
}
/*给nav下所有a标签添加hover鼠标悬停效果*/
.nav a:hover{
	color: white;
}
.nav{
	padding: 5px 0;
}
/*给页面内容区域添加样式*/
.content{
	margin: 0 auto;
	width: 95%;
	padding-top: 130px;
}
.scrollImg{
	position:relative;
	font-size: 0;
}
.scrollImg img{
	width: 100%;
}
.scrollImg p{
	font-size: 13px;
	position: absolute;
	bottom: 0;
	color: white;
	width: 100%;
	line-height: 30px;
}
.mask{
	width: 100%;
	height: 30px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	left: 0;
}
.pageControl{
	height: 30px;
}
.pageControl span{
	width: 6px;
	height: 6px;
	background-color: grey;
	
	display: inline-block;
	border-radius: 4px;
	margin: 0 10px;
}
.pageControl span:hover{
	background-color: white;
	cursor: pointer;
	border: 1px solid grey;
	line-height: 30px;
}
.introduce{
	color: rgb(83,83,83);
	font-family: STKaiti,"微软雅黑";
	text-align: left;
	text-indent: 2em;
	margin:30px 0;
	padding: 30px 0; 
	border-top:1px solid rgb(226,226,226);
	border-bottom:1px solid rgb(226,226,226);
}
.sponsor{
	width: 100%;
	font-size: 0;
	margin: 20px 0;
}
.sponsor img{
	width: 5.07%;
	margin: 20px 1%;
}
.cell{
	font-size: 0;
	width: 30%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
	float: left;
	overflow: hidden;
}
.cellTop{
	position: relative;
}
.cellTop img{
	width: 100%;
}
.mask2{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 1s;
}
.text h2{
	font-size: 30px;
}
.text p{
	font-size: 15px;
}
.text{
	color: white;
	width: 100%;
	height: 52px;
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	display: none;
	transition: 1s;
}
.cellBottom{
	font-size: 18px;
	color:rgb(83,83,83);
	padding:5px 0;
}
.cell:hover .text{
	display: inline-block;
	cursor: pointer;
}
.cell:hover .mask2{
	opacity: 1;
	cursor: pointer;
}
.cellMiddle{
	margin: 0 5%;
}
.footer{
	background-color: rgb(224,224,224);
	padding: 15px 0;
	margin-top: 40px;
}
.left{
	width: 49%;
	float: left;
	text-align: right;
}
.left img{
	width: 30px;
	height: 25px;
}

.right{
	width: 49%;
	float: right;
	text-align: left;
}
.right img{
	width: 143px;

}
.right li{
	list-style: none;
	color: #666666;
	font-size: 12px;
	text-shadow: 0 0 2px white;
	
}
.footer::after{
	content: "";
	clear:both;
	display: block;
}
